.container {
  width: 100%;
  max-width: 996px;
  padding: 0 1rem;
}

/* TABLET */
@media screen and (min-width: 600px) {
  /* general */
  .container {
    padding: 0 1.5rem;
  }
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
  /* general */
  .container {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}
