@use "sass:color";

$bgColor: #f7f7f7;
$primary: #52b788;
$secondary: #fca311;
$error: #e63946;

$info-color: color.adjust($primary, $lightness: -20%);
$info-bg-color: color.adjust($primary, $lightness: 35%);

$danger-color: color.adjust($error, $lightness: -20%);
$danger-bg-color: color.adjust($error, $lightness: 35%);
